.phone-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 778px;
}
.phone-validation-wrapper {
  width: 614px;
  height: 683px;
  border-radius: 48px;
  text-align: left;
  border: 1px solid black;
  padding: 20px 40px 0;
}
.validation-text-frame {
  width: 500px;
}
.react-international-phone-input-container {
  width: 534px;
  height: 64px;
  padding: 10px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Input-gray, #636363);
}
.react-international-phone-country-selector {
  border: none;
}
.react-international-phone-input {
  border: none;
}
.react-international-phone-flag-emoji
  .react-international-phone-country-selector-button__flag-emoji {
  width: 24px;
  height: 24px;
}
