.home-page {
  background: var(
    --Web-bg-gradient,
    linear-gradient(180deg, #d0cbff 0%, rgba(208, 203, 255, 0) 100%)
  );
  height: 778px;
  padding: var(--internal-padding);
}
.title-part {
  display: flex;
  justify-content: space-between;
}
.title-part__text h1 {
  font-size: 96px;
  width: 660px;
  height: 220px;
  text-shadow: 3px 5px 11px rgba(0, 0, 0, 0.3);
}
.title-part__text p {
  margin-top: 24px;
  width: 470px;
  font-size: 24px;
}
.title-part__button-wrapper {
  cursor: pointer;
  margin-top: 64px;
  width: 220px;
  height: 42px;
  font-size: 20px;
  background: none;
  cursor: pointer;
  outline: inherit;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
}
.title-part__button-wrapper:hover {
  background-color: var(--blue-color);
  color: white;
  border: none;
}
.title-part__img {
  width: 450px;
  height: 350px;
}
